In [4]:
from sklearn.datasets import make_blobs
import pandas as pd

In [5]:
blobs, labels = make_blobs(n_samples=2000, n_features=10)

In [6]:
pd.DataFrame(blobs).head()

,0,1,2,3,4,5,6,7,8,9
0,-1.794655,8.338272,6.811566,0.136859,0.869531,7.909384,3.959698,-2.790876,1.269445,3.411208
1,-3.447500,5.284657,6.210713,-0.301520,2.487122,7.851946,2.536838,-2.859333,1.933704,3.134452
2,-2.772167,7.342213,6.696846,-0.663274,2.033543,10.397240,3.840361,-1.484347,0.839295,2.630862
3,-0.323634,-8.184199,6.188104,3.603663,2.544071,5.504295,-7.003738,-7.965031,-1.635778,1.104466
4,-3.699279,6.334548,6.234074,1.402251,2.923545,8.447702,2.635706,-2.090816,3.981652,2.482796

In [7]:
import hdbscan

Generate a clustering object

In [8]:
clusterer = hdbscan.HDBSCAN()

In [9]:
clusterer.fit(blobs)

HDBSCAN(algorithm='best', allow_single_cluster=False, alpha=1.0,
    approx_min_span_tree=True, cluster_selection_method='eom',
    core_dist_n_jobs=4, gen_min_span_tree=False, leaf_size=40,
    match_reference_implementation=False, memory=Memory(location=None),
    metric='euclidean', min_cluster_size=5, min_samples=None, p=None,
    prediction_data=False)

In [11]:
clusterer.labels_

array([2, 2, 2, ..., 2, 0, 0], dtype=int64)

In [12]:
clusterer.labels_.max()

2